<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MiPrimerServlet</display-name>
    <servlet-name>MiPrimerServlet</servlet-name>
    <servlet-class>es.dtsi.web.MiPrimerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiPrimerServlet</servlet-name>
    <url-pattern>/hola-mundo</url-pattern>
  </servlet-mapping>
  <display-name>dtsi-servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PaginaConContador</display-name>
    <servlet-name>PaginaConContador</servlet-name>
    <servlet-class>es.dtsi.web.PaginaConContador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaConContador</servlet-name>
    <url-pattern>/PaginaConContador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionDeUsuario</display-name>
    <servlet-name>SessionDeUsuario</servlet-name>
    <servlet-class>es.dtsi.web.SessionDeUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionDeUsuario</servlet-name>
    <url-pattern>/SessionDeUsuario</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MedidorDeTiempo</display-name>
    <filter-name>MedidorDeTiempo</filter-name>
    <filter-class>es.dtsi.web.MedidorDeTiempo</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MedidorDeTiempo</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TraduccionDeLaPaginaJSP</display-name>
    <servlet-name>TraduccionDeLaPaginaJSP</servlet-name>
    <servlet-class>es.dtsi.web.TraduccionDeLaPaginaJSP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraduccionDeLaPaginaJSP</servlet-name>
    <url-pattern>/TraduccionDeLaPaginaJSP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculadoraServlet</display-name>
    <servlet-name>CalculadoraServlet</servlet-name>
    <servlet-class>es.dtsi.web.CalculadoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculadoraServlet</servlet-name>
    <url-pattern>/CalculadoraServlet</url-pattern>
  </servlet-mapping>
</web-app>